*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background:url(ressources/bricks-wall.jpg);
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: 1px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.863);
}

.card {
    background: #222;
    position: relative;
    width: 75vmin;
    margin: 100px auto 0;
    padding: 50px;
    border-radius: 22px;
}

.card h1 {
    font-family: Mali, sans-serif;
    font-size: calc(6vmin + 5px);
    font-weight: 300;
    color: #f1f1f1e3;
}


.card span {
    font-family: Raleway, sans-serif;
    padding-left: 0px;
    font-size: calc(4vmin + 10px);
    letter-spacing: 5px;
    color: #f1f1f1cb;
}

.card img {
    position: absolute;
    bottom: -10vmin;
    right: -5vmin;
    width: 25vmin; 
}



