*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    height: 100vh;
    font-family: Open Sans, sans-serif;
    background: #f1f1f1;
}
